<a href="https://colab.research.google.com/github/1364/ML-Mystery-/blob/main/FascinatingPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab as pl

In [ ]:
w = np.random.rand(len("100021")) # each number is one character thus len("1000") is 4.
print(w)
print(len(w))
msk = 0.8 < w
msk

[0.99249612 0.4226592  0.99303584 0.63487383 0.12427233 0.77362372]
6

array([ True, False,  True, False, False, False])

In [ ]:
for i in range (6):
  if w[i] < 0.8:
    msk[i] == True 
  else: 
    msk[i] == False
print(msk)

[ True False  True False False False]

In [ ]:
co = [2, 3, [2.33, 4.55],8, 9]
print(type(co))

<class 'list'>

In [ ]:
#pd = PandasDataframe is almost same as dict
data = {"cars":["GTR", "Benz", "BMW"],
        "colors": ["Blue", "black", "red"]}
data
print(type(data))
#load data into Pandas Dataframe obj, so, it generates table with header = cars, colors,type is str obj.  
ddf = pd.DataFrame(data)
print(ddf)

#access to one row by loc 
dfOneRow = ddf.loc[0]
print(dfOneRow)

In [ ]:
#access to more than one row by loc, it runs by index number starts by zero. but stop = includes last row.
#note: when using [] the data is pandas dataframe. 
dfMoreRow = ddf.loc[0:2]
print(dfMoreRow)

# COLUMNS
# access to all elements of a specific column: first use: df.keys() -->get the headers 
df.loc[::].columnname(key)

df['header'].values

df.loc[::].salary
for i in list(df):
  print(df[i].tolist)

In [ ]:
#by index operation can name my own index
cal_data = {"calories": [120, 155, 185],
            "duration":[50, 66, 90]}
pd_cal_data = pd.DataFrame(cal_data, index = ["day 1", "day 2", "day 3"])
#access by index name, runs with str as indexs are str.
pd_cal_data.loc["day 1"]

calories    120
duration     50
Name: day 1, dtype: int64

In [ ]:
#if data are stored in a file, pd can upload data into DataFrame.
# it returns first and last 5 rows. it can be increased by  pd.options.display.max_rows  

df = pd.read_csv("data.csv")
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
#describe method only returns numeric columns. 
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [ ]:
#columns() method returns index(['col.header', ...])
df.columns()

# df.key() pd is almsot same as key :value. keys are header and values are the value under each key in a corresponding column. 
df.key()
""" by df.key() we get the headers == keys and to access to the values under each key == corresponding values in a column; df['key'].values"""

#head() mehod returns header with specified number of rows as an argument from top, 
#by default its 5
df.head()

#tail method returns from buttom of DataFrame,by default is 5
df.tail()

#to print whole DataFrame to_string() method
print(df.to_string())

#info() method returns great information about dataset. 
df.info()

Data Cleaning, 
Data might includes: empty cells-->Nan, unrelated data, wrong format, duplicate. Thses are noises and data plays important role.

In [ ]:
#if there are empty cells: NaN. By dropna() method will remove empty cell's row. However, its dangerous for timing data, 
# for ex, if it deletes a day. dropna() wouldnot modify original data, instead it returns new DataFrame.
#new_df = df.dropna()

#if we want to modify original DataFarme: inplace = True
#new_df = df.dropna(inplace = True)
"""dropna() method must not save in any variable, because by inplace = True, the original DataFrame
is modified, thus if save it in variable it will crash. Besides, dropna()method will not modify
the dataset in computer.meaning it just changes the uploaded data to program."""


#add new value to Null cells
df.fillna(130, inplace = True)

#add for specific cell
df["Calories"].fillna(186, inplace = True); """calories is a column name"""

#the next solution: add mean, median, mode of cells 
x = df["Calories"].mean()
df["Calories"].fillna(x, inplace = True)

y = df["Calories"].median()
df["Calories"].fillna(y, inplace = True)

df["Calories"].mod()[0]

In [ ]:
# new_df is modified DataFrame; dropna() is applied
df = pd.read_csv("data.csv")
#new_df = df.dropna()
#print(new_df.info())
df.dropna(inplace = True)
#new_df.loc[7, "Duration"] = 4506
#print(new_df.to_string())
print(df.to_string())

Wrong format: 2 manners 1-convert to same data, 2-delet row

In [ ]:
#ex, all data in a column are str, few are other format. 
df['date'] = df.to_datetime(df['date'])

# but if cell is empty it shows: NaT -->not a time, then simply delet the row.

Wrong data:
1- just subsitute with a proper value(only possible for small dataset), 2-set boundaries w.r.t. dataset.

In [ ]:
df.loc[7, 'date'] = 128
#set boundaries: loop through column
for x in df.index:
  if df.loc[x, 'Duration'] > 120:
    df.loc[x, 'Duration'] = 120

# delet any row higher than a value
for x in df.index:
  if df.loc[x, 'Duration'] > 120:
    df.drop(x, inplace = True)

"""grabe row then grab column"""

In [ ]:
# duplicates: check for it
print(df.duplicated()) # returns bool value T for duplicated F for nothing, so remove duplicated 

df.drop_duplicates(inplace = True)

In [ ]:
# corr invesigate the relation between columns, Note: corr ignores the non-numeric values. 
df.corr()
"""the correlaion is a diagonal symmetric square marix. The leading diagonal is 1, due to corr(X,X)=1. 
"""